.header__btn-mobie {
    display: none;
    align-self: center;
    span {
        color: $color-main;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 900;
    }
}
.open {
    display: inline;
}
.close {
    display: none;
}
.header.open-menu .open {
    display: none;
}
.header.open-menu .close {
    display: inline;
}
@media (max-width: 767.5px) {
    .header {
        overflow-y: hidden;
        transition: 0.5s;
    }
    .header.open-menu {
        overflow-y: visible;
    }
    .header-box {
        justify-content: space-between;
    }
    .header__list-link {
        flex-direction: column;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        background-color: #fff;
        transition: 1s;
    }
    .header__item-link {
        line-height: 44px;
        text-align: center;
    }
    .header-box {
        display: flex;
    }
}
