.header{
height: var(--header-height);
position: fixed;
top: 0;
background-color: #FFF;
z-index: 99;
width: 100%;
transition: 1s;
}
.header.scroll{
    box-shadow: 0 12px 32px 0 rgba(33, 37, 41,  0.06);
}
.header-box{
    
    display: grid;
    grid-template-columns: 1fr 1.1fr 1fr;
    align-items: center;
    
}
.header__logo{
    display: inline-block;
    
    img{
        width: 123px;
        display: block;
    }
}
.header__list-link{
    display: flex;
    justify-content: space-between;
    
}
.header__item{}
.header__item-link{
    font-size: 12.0001px;
    color: #21252980;
    font-weight: 800;
    text-transform: uppercase;
    &:hover{
        color: #212529;
    }
}
