/* home-page1 */
.container__home-page1 {
    /*   margin-bottom: 130px; */
}
.home-page1__box {
    position: relative;
}

.home-page1__title {
    margin-top: 162px;
    grid-row: 1;
    grid-column: 1 / span 5;
    span {
        text-align: left;
        font-size: 56px;
        display: block;
        line-height: normal;
        color: #212529;
        font-weight: 600;
    }
}
.home-page1__subtitle {
    grid-row: 2;
    grid-column: 2 / span 3;
    font-size: 18px;

    line-height: normal;
    color: #212529;
    margin-top: 16px;
    margin-bottom: 40px;
    margin-left: var(--grid-gap-col-mg-lap-pc);
}
.home-page1__btn-wraper {
    grid-row: 3;
    grid-column: 2 / span 3;
    margin-left: var(--grid-gap-col-mg-lap-pc);
}
.home-page1__btn {
    padding: 16px 35px;
    background-color: #212529;
    font-size: 12.0001px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    width: 130px;
    text-align: center;
    transition: 0.3s;
    &:hover {
        background-color: #21252980;
    }
}
.home-page1__img {
    grid-column: 1 / -1;
    grid-row: 1/ span 4;
    img {
        width: 100%;
        height: 100%;
        display: none;
    }
}
/* home-page1 */
/* home-page2 */
.container__home-page2 {
    padding-top: 180px;
    padding-bottom: 80px;
}
.home-page2__box {
}
.home-page2__title {
    grid-column: 1 / span 12;
    font-size: 40px;
    color: #212529;
    font-weight: 600;
    margin-bottom: 60px;
    text-align: center;
    grid-row: 1;
}
.home-page2__product {
    grid-column: 1 / span 6;
    margin-bottom: 8px;
    &:nth-child(2n + 1) {
        grid-column: span 6/-1;
        margin-left: -12px;
    }
    &:nth-child(2n + 2) {
        margin-right: -12px;
    }
}
/* home-page3 */
.container__home-page3 {
    padding-top: 40px;
    padding-bottom: 80px;
}
.home-page3__title {
    grid-column: 2 / span 3;
    margin-left: var(--grid-gap-col-mg);
    margin-right: var(--grid-gap-col-mg);
    font-size: 48px;
    font-weight: 600;
}
.home-page3__des {
    grid-column: 7 / span 5;
    margin-right: var(--grid-gap-col-mg);
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
}

/* home-page3 */

/* home-page4 */

.container__home-page4 {
    padding-top: 40px;
    margin-bottom: 120px;
}
.home-page4__box {
}

.home-page4__title {
    grid-column: 1 / span 12;
    grid-row: 1;
    margin-bottom: 40px;
    text-transform: capitalize;
    text-align: center;
    font-size: 32px;
    font-weight: 800;
    color: $color-main;
}
.home-page4__des {
    grid-column: 3 / span 8;
    grid-row: 2;
    margin-bottom: 80px;
    color: $color-main;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
}
.home-page4__warranty {
    grid-row: 3;
    grid-column: auto/ span 3;
}

/* home-page4 */
/* home-page5 */
.home-page5__title{
    grid-row: 1;
    grid-column: 1/span 4;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 2px;
}
.container__home-page5 {
    margin-bottom: 120px;

   
}
.home-page5__box {
    flex-basis: 1024px;
    display: grid;
    grid-template-columns:160px 1fr 160px;
    grid-column-gap: 30px;
    grid-template-rows:100px 70px 160px 70px;
    grid-row-gap: 0;
}
.home-page5__btn {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    transition: 1s;
}
.home-page5__btn.prev {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;

    &:hover {
        transform: translateX(-50px);
    }
}
.home-page5__btn.next {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
    &:hover {
        transform: translateX(50px);
    }
}

.btn-icon {
    width:51px;
    height: 27px;
    background-size: cover;
    /* font-size: 40px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    color: white;
}
.btn-icon.prev {
}
.btn-icon.next {
   
}

.btn-img {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    border-radius: 50%;
    z-index: 1;
}
.btn-img.active{
    opacity: 1;
}
.btn-img.prev {
}
.btn-img.next {
}
.home-page5__slider-wraper{
    grid-column: 2 / span 1;
    grid-row: 2 / span 3;
    position: relative;

}
.home-page5__slider {
    transition: 1s;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-column-gap: 30px;
    grid-template-rows: 70px 1fr 70px;
    opacity: 0;
}
.home-page5__slider.active{
opacity: 1;
}
.slider-img-wraper{
    grid-column: 1/span 1;
    grid-row: 1/ span 3;
}
.slider__img {
    background-position: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* animation: turn 10s linear 0s infinite; */
}
.slider__text {
    grid-column: 2 / span 1;
    grid-row: 2 / span 2;
}
.slider-text__des {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 40px;
    text-align: center;
}
.slider-text__name {
    font-size: 18px;
    text-align: center;
    color: $color-main;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.slider-text__job-pos {
    font-size: 12px;
    color: #212529b3;
    text-align: center;
    text-transform: uppercase;
}

/* home-page5 */